{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {bbmustache, "1.12.2"},
    {prometheus, "4.9.1"}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [erlclu]}
]}.

{relx, [
    {release, {erlclu, "0.4.2"}, [
        erlclu,
        sasl,
        runtime_tools
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args_src, "./config/vm.args.src"},

    {overlay, [{copy, "./config/inet_tls_dist.config", "inet_tls_dist.config"}]}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                %% profile is used, so does not have
                %% to be explicitly included like this
                {mode, prod}
            ]}
    ]}
]}.
