{erl_opts, [
    debug_info,
    {parse_transform, vsn_transform}
]}.

{deps, [
    {cowboy, "2.9.0"},
    {bbmustache, "1.12.2"},
    {prometheus, "4.9.1"},
    {vsn_transform, {git, "https://github.com/rlipscombe/vsn_transform.git", {tag, "1.0.2"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [erlclu]}
]}.

{relx, [
    {release, {erlclu, ""}, [
        erlclu,
        sasl,
        runtime_tools
    ]},

    {mode, dev},

    {overlay, [{copy, "./config/inet_tls_dist.config", "inet_tls_dist.config"}]}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                %% profile is used, so does not have
                %% to be explicitly included like this
                {mode, prod}
            ]}
    ]}
]}.

{plugins, [rebar3_format, erlfmt]}.
{format, [
    {formatter, erlfmt_formatter}
]}.
