{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},
  {bbmustache, "1.12.2"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlclu]}
]}.

{relx, [{release, {erlclu, "0.1.0"},
         [erlclu,
          sasl]},

        {mode, dev},

        {sys_config, "./config/sys.config"},
        {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}
                     ]
            }]}]}.
