[
    {server, [
        {certfile, "/certs/my/tls-dist.crt"},
        {keyfile, "/certs/my/tls-dist.key"},
        {verify, verify_peer},
        {fail_if_no_peer_cert, true},
        {cacertfile, "/certs/ca/ca.crt"},
        {secure_renegotiate, true}
    ]},
    {client, [
        {certfile, "/certs/my/tls-dist.crt"},
        {keyfile, "/certs/my/tls-dist.key"},
        {verify, verify_peer},
        {cacertfile, "/certs/ca/ca.crt"},
        {secure_renegotiate, true}
    ]}
].
